go 1.23

use (
	./bench
	./benchmarks
	./packages/adapter-auto
	./packages/adapter-cloudflare
	./packages/adapter-docker
	./packages/adapter-fastly
	./packages/adapter-lambda
	./packages/adapter-server
	./packages/adapter-static
	./packages/auth
	./packages/cookiesession
	./packages/create-sveltego
	./packages/enhanced-img
	./packages/init
	./packages/lsp
	./packages/mcp
	./packages/sveltego
	./playgrounds/basic
	./playgrounds/blog
	./playgrounds/dashboard
	./templates/ai
	./test-utils
)
